
<link src="https://kit.fontawesome.com/d68f654955.js" crossorigin="anonymous"></link>
 <link rel="stylesheet" href="/css/nav.css">

    {{!-- <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div> --}}
    
        <div class="nav-wrap">
          <ul>
            <li><a href="/">Home</a></li>
            
            <li><a href="/logout">Logout</a></li>

            <li><a href="/login">Login</a></li>

            <li><a href="/profile">Profile</a></li>
          </ul>
      </div>

  
    