
<link src="https://kit.fontawesome.com/d68f654955.js" crossorigin="anonymous"></link>
 <link rel="stylesheet" href="/public/css/Nav.css">

    {{!-- <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div> --}}
    <div class="menu-wrap"></div>
        <div>
          <ul>
            <li><a href="/">Home</a></li>
            
            <li><a href="/logout">logout</a></li>

            <li><a href="/login">login</a></li>

          
          </ul>
        </div>
      </div>
    