<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {{>Nav}}
    <h1>Your admin page</h1>


    <p></p>
    <form action="/allUser" method="Get">
        <button type="submit">All user </button>
    </form>

    
</body>
</html>