<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {{>Nav}}
    <h1>All {{firstObject.user.name}}'s Activity</h1>
    
     {{#each allposts}}
    <p> Title:{{this.title}}</p>
    <p>{{this.body}}</p>
  <form action="/userPostUpdate" method="GET">
        <button type="submit">Edit A Post</button>
    </form>
     <form action="/deleteBlog/{{this._id}}" method="get">
        <button type="submit">Delete Blog</button>
    </form>
    
    {{/each}}
     
    
</body>
</html>