<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All The User Blogs Post </h1>
     {{#each allPosts}}
    <h5>{{this.title}}</h5>
    <h5> {{this.body}}</h5>
   

     {{/each}}


</body>
</html>