<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylessheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
     {{>Nav}}
    <h1>Blog Space </h1>
    <h2>Register for an account </h2>
    <form action="/index" method="POST">
        <input required type="text" name="userName" placeholder="name"><br/>
        <input required type="email" name="userEmail" placeholder="email"><br/>
        <input required type="password" name="userPassword" placeholder="password"><br/>
        <input required type="password" name="confirmPassword" placeholder="confirm password"><br/>
        <button>Register</button>
    </form>
<br/>

{{!-- <form action="/login" method="POST" >
    <p>Login</p>
        <input required  type="email" name="userEmail" placeholder="email"></br>
        <input required  type="password" name="userPassword" placeholder="password"></br>
        <button type="submit">Login</button>
    </form> --}}
</body>
</html>