<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/nav.css"> --}}
    <link rel="stylesheet" href="/css/profile.css">
    <title>User Profile page</title>
    
</head>

<body>
    <div>
        {{>Nav}}
    </div>
    <div class="userprofile-title">
        <h1>{{user.name}}'s profile</h1>
    </div>

    <div class="userprofile-details">
        <p>Name: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
    </div>

    <div class="userprofile-controls">

        <div class="up-updatelink">

            <form action="/update" method="GET">
                <button type="submit">Update Account</button>
            </form>
            
        </div>

        <div class="up-delete">
            <form action="/delete" method="POST">
                <button type="submit">Delete Account</button>
            </form>
        </div>

        <div class="up-newblog">
            <a href="/blogpost">Create New Blog Post</a>
        </div>

        <div class="up-allpost">
            <a href="/allposts/">All Your Posts</a>
        </div>

    </div>


</body>

</html>