<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{>Nav}}
    <h1>Admin User Update Page</h1>

    <form action="thisUser/:{{this._id}}" method="POST">
        <input required type="text" name="userName" placeholder="Name"><br/>
        <input required type="email" name="userEmail" placeholder="Email"><br/>
        <button type="submit">Update user</button>
    </form>
</body>
</html>