<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <h1>Update your account </h1>
     <form action="/update" method="POST">
        <input required type="text" name="userName" placeholder="{{user.name}}"><br/>
        <input required type="email" name="userEmail" placeholder="{{user.email}}"><br/>
        <input required type="password" name="userPassword" placeholder="password"><br/>
        {{!-- <input required type="password" name="confirmPassword" placeholder="confirm password"><br/> --}}
        <button type="submit">Update</button>
    </form>
  
</body>
</html>