<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update your account </h1>
     <form action="/update/userId" method="POST">
        <input required type="text" name="userName" placeholder="name"><br/>
        <input required type="email" name="userEmail" placeholder="email"><br/>
        <input required type="password" name="userPassword" placeholder="password"><br/>
        {{!-- <input required type="password" name="confirmPassword" placeholder="confirm password"><br/> --}}
        <button type="submit">Register</button>
    </form>
</body>
</html>