* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(147, 147, 220);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  }
.userprofile-details{
  line-height: 25px;
  height: 65px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userprofile-title{
    margin: 0;
    display: flex;
    justify-content: center;

}

.up-delete button{
    color: red;
}